@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #eaeaea;
  --color-primary: #ff3c78;
  --color-secondary: #888888;
  --color-accent: #0ff;
  --color-card: #111111;
  --color-hover: #1f1f1f;
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
}
